p.hello {
    color: red;
    
}

body {
background: lightblue; 
    
}

.goodbye {
    font-family: cursive
      color: maroon;
}

p.afternoon{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    
}





